<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('frontend.static', filename='parallax-star/css/style.css') }}" rel='stylesheet' type='text/css' />
</head>
<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
        <span>ANTONIO CARLOS ORTIZ</span><br/>
        <span>PARALLAX PIXEL STARS</span></br/>
        <span>{{ url_for('frontend.static', filename='style.css') }}</span>
    </div>
</body>
</html>